<div *ngIf="todo" class="container">
    <mat-form-field>
        <mat-label>Title</mat-label>
        <input matInput [(ngModel)]="todo.title">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Text</mat-label>
        <textarea matInput [(ngModel)]="todo.text"></textarea>
    </mat-form-field>
    <mat-checkbox [(ngModel)]="todo.done">Done</mat-checkbox>
    <div class="button-row">
        <button mat-raised-button color="primary" (click)="save()">Save</button>
        <button mat-raised-button color="warn" (click)="delete()">Delete</button>
    </div>
</div>